name: release

on:
  push:
    tags:
      - v*.*.*

permissions:
  contents: read

jobs:
  build:
    name: building-${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            arch: amd64
            runner: ubuntu-latest
          - os: linux
            arch: arm64
            runner: ubuntu-latest

          - os: darwin
            arch: amd64
            runner: macos-latest
          - os: darwin
            arch: arm64
            runner: macos-latest

          - os: windows
            arch: amd64
            runner: windows-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: setup-go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.25.5'
          check-latest: 'true'

      - name: test
        run: make ci-cover

      - name: build
        run: |
          make target_devgen
          mv dist/devgen devgen-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}

      - name: upload-artifact
        uses: actions/upload-artifact@v6
        with:
          name: devgen-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}
          path: devgen-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.arch }}
          if-no-files-found: error
